/* FONTE EXTERNA */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color:#ebe1e9;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
    background: transparent;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #cf2b46;
    border-radius: 20px;
  }

/* BACKGROUND */
body {
    overflow: overlay;
    /* background-color: #e3935e; */
    background: linear-gradient(45deg, #c74f4f, #fcb03e);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

/* NAVBAR */
#imgLogo {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 25vh;
}

#imgLogo:hover {
    cursor: pointer;
}

.header {
    border-bottom: 3px solid #ebe1e9;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0000004b;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.header a {
    text-decoration: none;

    border-left: rgb(199,79,79) solid 0.5vh;
    border-bottom: rgb(199,79,79) solid 0.5vh;
    padding-left: 1vh;
    padding-bottom: 0.5vh;

    border-right: transparent solid 0.5vh;
    border-top: transparent solid 0.5vh;
    padding-right: 1vh;
    padding-top: 0.5vh;

    font-size: 2vh;
    color: #ebe1e9;
    transition: all .5s ease-out ;
}

.header a:hover {
    text-decoration: none;
    border-left: transparent solid 0.5vh;
    border-bottom: transparent solid 0.5vh;
    padding-left: 1vh;
    padding-bottom: 0.5vh;

    /* border-left: 0;
    border-bottom: 0;
    padding-left: 0;
    padding-bottom: 0; */

    border-right: #da761e solid 0.5vh;
    border-top: #da761e solid 0.5vh;
    padding-right: 1vh;
    padding-top: 0.5vh;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    /* background-color: #96217e; */
}

/* .login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    border-radius: 15px;
    width: 10vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    border-radius: 15px;
    width: 17vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.login:hover, .cad:hover {
    background-color: #cf2b46;
    color: white;
    
} */

/* CONTEUDO  home*/

.fundoTransparente {
    display: flex;
    background-color: rgba(81, 19, 26, 0.432);
    justify-content: center;
    align-items: center;
    padding: 3vh;
    border-radius: 5vh;
}

.banner {
    /* padding: 15vh; */
    margin: 0;
    /* padding-right: 25vh; */
    /* background-color: #96217e; */
    /* width: 90%; */
    /* align-items: center; */
    justify-content: center;
    /* display: flex; */
}

.container {
    /* width: 100%; */
    /* background-color: #1972b2; */
    padding: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerFin { 
    /* width: 100%; */
    /* background-color: #1972b2; */
    padding: 5vh;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.finalidade {
    background: linear-gradient(45deg,#d73b5d, #f17828);
    color: #dfe3ea;
    border-radius: 5vh;
    width: auto;
    padding: 2vh;
    margin: 3vh 10vh 0vh 10vh;
}

.teste {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0vh 10vh 0vh 10vh;
}

.textoTitulo {
    margin-left: 20vh;
    margin-right: 10vh;
    font-size: xx-large;
}

#imgBanner {
    margin-left: 10vh;
    /* height: 10%; */
    width: 40%;
}

.tela {
    margin: 0;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.subtela {
    justify-content: center;
}

#imgTela1 {
    width:70%;
    margin-right: 10vh;
}

.textoTela1 {
    font-size: 3vh;
    margin-right: 10vh;
    width: 100%;
    padding: 3vh;
    border-top: #dfe3ea solid 0.5vh;
    border-bottom: #dfe3ea solid 0.5vh;
}


/* CARD CADASTRO */
.containerCad {
    display: flex;
    justify-content:center;
    padding: 2vh;
    /* width: 100%; */
    margin-top: 100px;
}

.card {
    /* background-image: url("assets/tea.png"); */
    background-repeat: no-repeat;
    background-color:rgba(81, 19, 26, 0.432);
    padding: 30px;
    border-radius: 50px;
    /* box-shadow: 3px 3px 1px 0px #00000060; */
    width: 20%;
    /* height: 512px; */
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #ecf2f6;
}

.label-float input {
    width: 100%;
    padding: 5px 5px 5px 0px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #dfe3ea;
    color: #000000;
    background-color: transparent;
    outline: none;
    min-width: auto;
    font-size: 15px;
    color: white;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    font-size: 18px;
    position: relative;
    padding-top: 20px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.label-float input:focus {
    border-bottom: 2px solid #ff8585;
}
.label-float input:valid {
    border-bottom: 2px solid #da761e;
}

.label-float label {
    /* font-size: 60px; */
    color: #ebeef2;
    font-weight: 500;
    /* pointer-event: none; */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label {
    font-size: 18px;
    margin-top: 0;
    color: #ff8585;
}

.label-float input:valid+label {
    font-size: 18px;
    margin-top: 0;
    color: #da761e;
}

.msgErro {
    color: yellow;
    display: flex;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 2vh;
}

button {
    /* background:linear-gradient(45deg, #1972b2, #96217e); */
    background-color: #da761e;
    color:#dfe3ea;
    border-radius: 6vh;
    border: none;
    padding: 1.5vh;
    font-size: 2vh;
    width: auto;
    transition: background-color .3s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: #f97171;
    /* background: none; */
    /* background:linear-gradient(45deg, #4d92c3, #c663b2); */
    transition: background-color .3s ease-out;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.cadGeral {
    width: 300px;
    height: 200px;
    margin: 50px;
    background-color: #af4e4e4c;
}

/* página usuário */

.container1{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    width: 100%;
    height: 50vw;
    flex-direction: column;
}

.containerUser {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 70vw;
    margin-left: 30vh;
}

.content1 h1 {
    text-align: center;
    margin: 0;
    font-size: xx-large;
}

.content1 #divAdicionar {
    align-items: center;
}


.content1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5vh;
    background-color: #371f1b;
    width:125vh;
    height: 35vh;
    padding: 5vh;
    margin: 5vh;
}

.butChaFavorito{
      background-color: #1972b2;
    /* border-color: #ffffff; */
    border-style:none;
    width: 160px;
    height: 5vh;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    font-size: 15pt;
    margin-top: 20px;
    margin-left: 52vh;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}
.chaFavorito{
    display: flex;
    width: 40vh;
    justify-content: center;
    margin-left: 45vh;
}



.centralizar1 input {
    background-color: transparent;
    padding-bottom: 0px;
    color:#ebe1e9;
    padding: 0;
    /* height: 3vh; */
    outline: none;
    display: inline-block;
    border: 0;
    border-bottom: solid 3px #970303;
    font-size: 3vh;
}

.centralizar1 button {
    /* width: 50%; */
}

.centralizar1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3vh 0vh 5vh 0vh;
   
    /* align-items: center; */
}

.centralizar2 input {
    background-color: transparent;
    padding-bottom: 0px;
    color:#ebe1e9;
    padding: 0;
    /* height: 3vh; */
    outline: none;
    display: inline-block;
    border: 0;
    border-bottom: solid 3px #970303;
    font-size: 3vh;
}

.centralizar2 button {
    /* width: 50%; */
}

.centralizar2 {
    display: flex;
    justify-content: center;
    
    margin: 3vh 0vh 5vh 0vh;
   
    /* align-items: center; */
}

span {
    color:#dfe3ea;
}

.chasFavoritos {
    /* display: flex; */
    margin-left: 5vh;
    color:#ebe1e9;
}
.butChaConsumo{
         background-color: #1972b2;
    /* border-color: #ffffff; */
    border-style:none;
    width: 35vh;
    height: 5vh;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    font-size: 15pt;
    margin-top: 20px;
    margin-left: 42vh;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

#divRegistro {
    color:#dfe3ea;
}

footer {
    /* display: flex; */
    padding: 5vh;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    margin-top: 5vh;
    background-color:rgba(128, 0, 0, 0.365);
    border-top: solid white 2px;
}

#iptPesquisa {
    width: 50%;
    padding: 5px 5px 5px 0px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #dfe3ea;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    min-width: auto;
    font-size: 3vh;
    color: white;
    transition: all .3s ease-out;
    border-radius: 0;
    text-align: center;
}