
/* FONTE EXTERNA */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: #cf2b46;
    border-radius: 20px;
}

/* BACKGROUND */
body {
    overflow: overlay;
    background-color: burlywood;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

/* NAVBAR */
#imgLogo {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10%;
}

.header {
    border-bottom: 3px solid #ebe1e9;
    width: auto;
    padding-left: 7.5%;
    padding-right: 7.5%;
    background-color: #0000004b;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.header a {
    text-decoration: none;
    color: #ebe1e9;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: #96217e;
}

a {
    transition: all .3s ease-out ;
}

a:hover {
    border-bottom: 3px solid #1972b2;
}

/* .login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    border-radius: 15px;
    width: 10vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    border-radius: 15px;
    width: 17vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.login:hover, .cad:hover {
    background-color: #cf2b46;
    color: white;
    
} */

/* CONTEUDO  home*/

.banner {
    padding: 15vh;
    margin: 0;
    padding-right: 25vh;
    /* background-color: #96217e; */
    /* align-items: center; */
    justify-content: center;
    /* display: flex; */
}

.container {
    width: 100%;
    /* background-color: #1972b2; */
    /* padding: 5vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.conteudo {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #cf2b46;
    width: 100vh;

    margin: 5vh;
    margin-bottom: 0;
    padding: 5vh;
}

.conteudo2 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #cf2b46;
    width: 100vh;

    margin: 5vh;
    padding: 5vh;
}

.pesquisa {
    margin: 5vh;
}

.titulo {
    text-align: start;
    font-size: 8vh;
    /* margin-left: 5vh; */
}

.subtitulo {
    text-align: start;
    font-size: 3vh;
    margin-left: 1vh;
    margin-bottom: 3vh;
}

.subtitulo2 {
    text-align: start;
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-bottom: 3vh;
}

.texto {
    text-align: start;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    /* margin:  */
    /* margin: 2vh; */
}

#imgCha {
    width: 30vh
    ;
}

span {
    margin-right: 6vh;
}

.topicos {
    display: flex;
    padding-left: 3vh;
    margin-top: 4vh;
}

.fin {
    margin: 0px 50px 0px 0;
    background:linear-gradient(45deg, #1972b2, #96217e);
    color:#dfe3ea;
    padding: 3vh;
    border-radius: 6vh;
    width: auto;
    transition: all .3s ease-out;
}

.fin:hover {
    cursor: pointer;
    background:linear-gradient(45deg, #4d92c3, #c663b2);
    transition: all .3s ease-out;
}

#divPesquisaCha input {
    width: 50%;
    padding: 5px 5px 5px 0px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #dfe3ea;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    min-width: auto;
    font-size: 3vh;
    color: white;
    transition: all .3s ease-out;
    border-radius: 0;
    text-align: center;
}

#divProporcao input {
        width: 60vh;
        min-width: auto;
        padding: 5px 5px 5px 0px;
        display: inline-block;
        border: 0;
        border-bottom: 2px solid #dfe3ea;
        color: #ffffff;
        background-color: transparent;
        outline: none;
        font-size: 3vh;
        color: white;
        transition: all .3s ease-out;
        border-radius: 0;
        text-align: center;

}

#btnProporcao {
    background:linear-gradient(45deg, #1972b2, #96217e);
    color:#dfe3ea;
    border-radius: 6vh;
    border: none;
    width: 35vh;
    transition: all .3s ease-out;
}

#btnProporcao:hover {
    cursor: pointer;
    background:linear-gradient(45deg, #4d92c3, #c663b2);
    transition: all .3s ease-out;
}

::placeholder {
    color:white;
    opacity: .7;
}

.proporcao {
    /* display: flex; */
    /* justify-content: center; */
}

footer {
    height: 30vh;
    margin-top: 5vh;
    background-color:rgba(128, 0, 0, 0.365);
    border-top: solid white 2px;
}