
/* FONTE EXTERNA */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color:#dfe3ea;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: #cf2b46;
    border-radius: 20px;
}

/* BACKGROUND */
body {
    overflow: overlay;
    background-color: burlywood;
    background: linear-gradient(45deg, #c74f4f, #e3935e);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

/* NAVBAR */
#imgLogo {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 25vh;
}

#imgLogo:hover {
    cursor: pointer;
}

.header {
    border-bottom: 3px solid #ebe1e9;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0000004b;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.header a {
    text-decoration: none;

    border-left: #c74f4f solid 0.5vh;
    border-bottom: rgb(199,79,79) solid 0.5vh;
    padding-left: 1vh;
    padding-bottom: 0.5vh;

    border-right: transparent solid 0.5vh;
    border-top: transparent solid 0.5vh;
    padding-right: 1vh;
    padding-top: 0.5vh;

    font-size: 2vh;
    color: #ebe1e9;
    transition: all .5s ease-out ;
}

.header a:hover {
    text-decoration: none;
    border-left: transparent solid 0.5vh;
    border-bottom: transparent solid 0.5vh;
    padding-left: 1vh;
    padding-bottom: 0.5vh;

    /* border-left: 0;
    border-bottom: 0;
    padding-left: 0;
    padding-bottom: 0; */

    border-right: #da761e solid 0.5vh;
    border-top: #da761e solid 0.5vh;
    padding-right: 1vh;
    padding-top: 0.5vh;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    /* background-color: #96217e; */
}

/* .login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    border-radius: 15px;
    width: 10vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.cad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1972b2;
    border-radius: 15px;
    width: 17vh;
    height: 30px;
    color: white;
    transition: all .3s ease-out;
}

.login:hover, .cad:hover {
    background-color: #cf2b46;
    color: white;
    
} */

/* CONTEUDO  home*/

.fundoTransparente {
    display: flex;
    background-color: rgba(81, 19, 26, 0.432);
    justify-content: center;
    align-items: center;
    padding: 3vh;
    border-radius: 5vh;
}

.banner {
    padding: 15vh;
    margin: 0;
    padding-right: 25vh;
    /* background-color: #96217e; */
    /* align-items: center; */
    justify-content: center;
    /* display: flex; */
}

.container {
    width: 100%;
    /* background-color: #1972b2; */
    /* padding: 5vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.conteudo {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: rgb(199,79,79); */
    background-color: rgba(81, 19, 26, 0.432);
    width: 100vh;

    margin: 5vh;
    margin-bottom: 0;
    padding: 5vh;
    border-radius: 5vh;

}

.conteudo2 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: rgb(199,79,79); */
    background-color: rgba(81, 19, 26, 0.432);

    width: 100vh;

    margin: 5vh;
    padding: 5vh;
    border-radius: 5vh;

}

.pesquisa {
    margin: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pesquisa button {
    margin: 2vh 0vh 2vh 0vh;
    height: auto;
    width: 50%;
    font-size: 3vh;
    padding: 2vh;
}

.titulo {
    text-align: start;
    font-size: 8vh;
    /* margin-left: 5vh; */
}

.subtitulo {
    text-align: start;
    font-size: 3vh;
    margin: 0vh 0vh 3vh 1vh;
}

.subtitulo2 {
    text-align: start;
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-bottom: 3vh;
}

.texto {
    text-align: start;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    margin: 0vh 0vh 3vh 1vh;
}

#imgCha {
    width: 30vh;
}

span {
    margin-right: 6vh;
}

.topicos {
    display: flex;
    padding-left: 3vh;
    margin-top: 4vh;
}

.fin {
    margin: 0px 50px 0px 0px;
    background-color: #74c361;
    color:#101012;
    font-size: 2vh;
    font-weight: bold;
    padding: 3vh;
    border-radius: 6vh;
    width: auto;
    transition: background-color .3s ease-out;
    font-size: auto;
}

.fin:hover {
    cursor: pointer;
    background-color:#6df1b3;
    color:#2c2c2e
}

.contra {
    margin: 0px 50px 0px 0px;
    background-color:#6a3e96;
    color:#dfe3ea;
    font-size: 2vh;
    font-weight: bold;
    padding: 3vh;
    border-radius: 6vh;
    width: auto;
    transition: all .3s ease-out;
    font-size: auto;
}

.contra:hover {
    cursor: pointer;
    background-color:#a762ba
}

#divPesquisaCha input {
    width: 50%;
    padding: 5px 5px 5px 0px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #dfe3ea;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    min-width: auto;
    font-size: 3vh;
    color: white;
    transition: all .3s ease-out;
    border-radius: 0;
    text-align: center;
}

.esconder {
    display: none;
}

.linha {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.registro {
    background-color: rgb(218, 218, 188);
    color: #2c2c2e;
    width: 32%;
    text-align: center;
    padding: 0.5vh 0vh 0.5vh 0vh;
    margin: 0vh 0vh 1vh 0vh;
    height: auto;
    border-radius: 1vh;
}

.iptCoisas {
        width: 40vh;
        min-width: auto;
        padding: 5px 5px 5px 0px;
        display: inline-block;
        border: 0;
        border-bottom: 2px solid #dfe3ea;
        color: #ffffff;
        background-color: transparent;
        outline: none;
        font-size: 2vh;
        color: white;
        transition: all .3s ease-out;
        border-radius: 0;
        text-align: center;

}

button {
    /* background:linear-gradient(45deg, #1972b2, #96217e); */
    background-color: #da761e;
    color:#dfe3ea;
    border-radius: 6vh;
    border: none;
    padding: 1.5vh;
    font-size: 2vh;
    width: auto;
    transition: background-color .3s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: #f97171;
    /* background: none; */
    /* background:linear-gradient(45deg, #4d92c3, #c663b2); */
    transition: background-color .3s ease-out;
}

.importante {
    text-align: start;
    font-size: 18px;
}

#btnProporcao {
    margin-top: 2vh;
    font-size: 2.5vh;
}

#divResultadoCha {
    display: flex;
    width: 45%;
    /* background-color: blue; */
    /* justify-content: center; */
    align-items: center;
    text-align: start;
    font-size: 24px;
    
}

::placeholder {
    color:white;
    opacity: .7;
}

.proporcao {
    /* display: flex; */
    /* justify-content: center; */
}

footer {
    /* display: flex; */
    padding: 5vh;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    margin-top: 5vh;
    background-color:rgba(128, 0, 0, 0.365);
    border-top: solid white 2px;
}

.divRegistro {
    text-align: start;
}

#divRegistro {
    padding-top: 1vh;
    background-color:#2c2c2e75;
    height: 40vh;
    overflow-y: scroll;
    border-radius: 1vh;
}

.inputRegistro {
        width: 25vh;
        min-width: auto;
        padding: 5px 5px 5px 0px;
        margin-right: 3vh;
        display: inline-block;
        border: 0;
        border-bottom: 2px solid #dfe3ea;
        color: #ffffff;
        background-color: transparent;
        outline: none;
        font-size: 2vh;
        color: white;
        transition: all .3s ease-out;
        border-radius: 0;
        /* text-align: center; */
}



#iptAddChaFav {
    width: 35vh;
    min-width: auto;
    padding: 5px 5px 5px 0px;
    margin-right: 3vh;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #dfe3ea;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    font-size: 2vh;
    color: white;
    transition: all .3s ease-out;
    border-radius: 0;
}

#divMsgErroFav {
    margin-top: 3vh;
    font-size: 18px;
    color: yellow;
    text-align: center;
    margin-left: 6vh;
}

#divMsgReg {
    font-size: 16px;
    /* background-color: #101012; */
    width: auto;
    height: auto;
    padding: 1vh;
}

.aviso {
    /* margin-top: 10vh; */
    border-radius: 3vh;
    background-color: #101012;
    width: auto;
    padding: 1vh 3vh 1vh 3vh;
}

.graficos {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */

}

.grafVazio {
    margin: 5vh;
    font-size: 1.5vh;
}